@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Garage 2.0 application was developed as part of the Lexicon .NET study course in Hudiksvall Q2/Q3 2017.</p>

<p>It is a successor to an earlier pure text console application, Garage 1.0. Instead of using only logic and
    text output, Garage 2.0 make use of the web technology supplied by ASP.NET MVC, like graphical user interface
    and a separation of the logical and graphical components for easier maintenance.</p>

<p> This applications sole contributer is programmer Thomas Myrsten of Hudiksvall.</p>
