@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Monitor Outsourcing<br />
    824 42 Hudiksvall<br />
    <abbr title="Phone">P:</abbr>
    072-5698540
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:thomas.myrsten@gmail.com">thomas.myrsten@gmail.com</a><br />
</address>